.noprint {
	display: none;
}
div.dokuwiki a {
	text-decoration: none !important;
}
div.dokuwiki a.interwiki {
	background: none; padding: 0px;
}
div#content .dokuwiki blockquote {
	padding-left: 3px; margin-left: 0.2em;
}
div#content .dokuwiki code {
	font-size: 100%;
}
div#content .dokuwiki pre {
	font-size: 100%;
}
div#content .dokuwiki pre.code {
	font-size: 100%;
}
div#content .dokuwiki pre.file {
	font-size: 100%;
}
div#content .dokuwiki pre {
	line-height: 1.2em;
}
div#content .dokuwiki pre.code {
	line-height: 1.2em;
}
div#content .dokuwiki pre.file {
	line-height: 1.2em;
}
div#content .dokuwiki dl.file {
	margin-left: 0px;
}
div#content .dokuwiki dl.file dd {
	margin-left: 0px;
}
div#content .dokuwiki dl.file dt {
	margin-left: 0px;
}
div#content .dokuwiki dl.file dt {
	
}
div#content {
	border: 0px currentColor; border-image: none; font-size: 1em; margin-left: 0px;
}
div#bodyContent {
	border: 0px currentColor; border-image: none; font-size: 1em; margin-left: 0px;
}
body {
	background-image: none; background-color: rgb(255, 255, 255);
}
div.tags {
	display: none;
}
